// Blocks.
.block .card-block .block-header h3 .fa {
    font-size: 1.4rem;
    padding-left: 1px;
    padding-right: 10px;
    vertical-align: middle;
}

.block .card-block .block-header {
    padding: 10px $card-spacer-x;
}

.block .card-block .block-header .block-controls {
   margin-top: -4px;
}

.block .card-block .block-header h3 {
    line-height: 1.4rem;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.block-region .card-block .card-title {
    font-weight: normal;
}
