// Core.
#page-content {
    margin: 0 auto;
    max-width: 1680px;
}

.moodle-actionmenu[data-enhance] .menu.nedcoursename {
    left: 0;
    min-width: 210px;
    top: 100%;
}

.action-menu .dropdown-toggle.nedactiontrigger i {
    background-image: url('[[pix:theme|action_menu_trigger_icon_background]]');
    color: #000;
}

.action-menu .dropdown-toggle.nedactiontrigger:after {
    border-width: 0;
}
