// Course.
.editing-button {
    font-size: 24px;

    a {
        border-radius: 4px;
        color: #eee;
        margin-right: 4px;
        padding-left: 4px;
        padding-right: 4px;
    }
    a:hover,
    a:focus {
        color: #fff;
    }

    .edit-off {
        background-color: #5a5a5a;
    }
    .edit-on {
        background-color: #22ad4a;
    }
}

.context-header-settings-menu {
    background-color: #5a5a5a;
    border-radius: 4px;
    height: 33px;
    margin-top: 1px;
    padding: 4px;
    .dropdown-toggle {
        color: #eee;
        .icon {
            color: inherit;
            margin-right: 0;
        }
    }
}

.coursenavbar {
    float: left;
    .breadcrumb {
        padding-top: 0.3rem;
        margin-right: 1rem;
    }
}

.acourse {
    margin-left: -(2 * $spacer);
    margin-right: -(2 * $spacer);
    > div {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
    }
    .card {
        background-color: #999;
        border-bottom: 2px solid #fff;
        .acoursemenus {
            position: relative;
            z-index: 1;
        }
        .card-block {
            padding-bottom: 1rem;
            padding-top: 1rem;
            .nedcoursename h1 {
                color: #fff;
                font-size: 2rem;
            }
        }
    }
    .nedcoursename {
        position: relative;
        .page-context-header {
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            .page-header-headings {
                float: none;
                text-align: center;
            }
        }
    }
}

.section .activity .instancename .fa {
    display: inline;
}

.coursebox .content .courseimage,
.coursebox .content .summary {
    @include media-breakpoint-down(sm) {
        margin: 0;
        width: 100%;
    }
}

.coursebox .content .courseimage img {
    display: block;
    height: auto;
    max-height: none;
    max-width: 100%;
}
