// Course.
.coursebox .content {
    .courseimage.nedcourseimage {
        display: inline;
        float: left;
        margin-right: 20px;
        margin-top: 0;
        width: 40%;
    }

    .summary.nedcoursesummary {
        float: none;
        width: auto;
    }

    .summary.nedcoursesummary > div {
        display: inline;
    }
}

.editing-button {
    font-size: 24px;

    a {
        border-radius: 4px;
        color: #eee;
        margin-right: 4px;
        padding-left: 4px;
        padding-right: 4px;
    }
    a:hover,
    a:focus {
        color: #fff;
    }

    .edit-off {
        background-color: #7092BE;
    }
    .edit-on {
        background-color: #1D9D74;
    }
}

.coursenavbar {
    float: left;
    .breadcrumb {
        padding-top: 0.3rem;
        margin-right: 1rem;
    }
}

.acourse {
    .card {
        background-color: #C9C9C9;
        border-bottom: 2px solid #fff;
        .acoursemenus {
            position: relative;
            z-index: 1;
        }
    }
    .nedcoursename {
        position: relative;
        .page-context-header {
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            .page-header-headings {
                float: none;
                text-align: center;
            }
        }
    }
}
