// Custom.
@media (max-width: 611px) {
    .pbrpix {
        display: none;
    }
}

.ned-divider {
    border-right: 1px solid #fff;
    font-size: 24px;
    margin: 4px;
}

.quicklink {
    background: rgba(255,255,255,0.9);
    border-radius: 5px;
    float: right;
    margin: 5px 3px 3px;
    padding: 4px;
    a .icon {
        color: #999;
        margin: 0;
    }
}
